<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/players_teams.css">

    <title>Players and Teams</title>
</head>
<body>
  

    <div class="image-container">
    
   </div>

    <div class="outer-container">
            <h1>EXPLORE TEAMS</h1>
            
<!-- Add Subheader that contains navigation menu -->

    <div class="subheader">
        <a href="players_teams.html">BOYS</a>
        <a href="players_teams.html">GIRLS</a>
        <a href="players_teams.html">SCHOOL-WISE</a>
         <a href="eligibility.html">GET STARTED</a>
        
    </div>
            <div class="container">
        <h2>Team Name 1</h2>
        <p id="team-description">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      <div class="sections">
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Jayson J. Señeres </h4>
            <p>Team Captain</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Felmar Buslon </h4>
             <p>Striker / Defender</p>
            
        </div>
          <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Eric Potterson </h4>
            <p>Defender / Power</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
      
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        <div class="section">
            <img src="../images/silhouettes/black-group.png" alt="Player Image">
            <h4>Player Name</h4>
            <p>Position</p>
        </div>
        
      </div>
       
      
    </div>

    </div>

    
</body>
<footer>
    <p>&copy; 2023 Philippine Rollball Association. All rights reserved.</p>
    <p>Website designed by <a href="#">Your Name</a></p>
</footer>
</html>