<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/programs_coaching.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
    <title>PROGRAMS & COACHING</title>
</head>
<body>
    <div class="content-container"> 
        <div class="image-container">
            
        </div>
        <div class="img-container">
                <div class="container">
                    <h1>Find coaching centers, qualified coaches, and training programs for all age groups.</h1>

                    <div class="learn-more">
                        <a>
                            <p>
                                Learn More
                                <i class="fa-solid fa-arrow-down"></i>
                            </p>
                        </a>
                    </div>
                </div>

         
        </div>
           
        <div class="divider">
            
        </div>

        <div class="bottom-container">
            <h1 id="coaching">COACHING CENTERS DIRECTORY</h1>
        </div>
        <div class="centers-container">
            <div class="card">
                <div class="card-image">
                    <img src="../images/prbalogo.png" alt="Card 1 Image">
                </div>

                <div class="card-content">
                    <h3>Center Name</h3>
                <p>Coach Name</p>
                <p>Age Supported</p>
                <p>Address: </p>       
                  <p>Training Schedules: </p>     
                <div class="learn">
                  <a href="#" target="_blank">
                         <p>Learn More</p>
                  <i class="fa-solid fa-arrow-right"></i>
                  </a>
                </div>
                
                </div>
            </div>
        </div>
    </div>
   

  
</body>
</html>